@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import "tailwindcss";


* {
  font-family: 'Inter', sans-serif;
}


body{
  background-color: #F4F7FC;
}

.tittle--page {
  color: #162B4C !important;
}

